*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 62.5%;
}

.popup_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.popup_container {
  width: 500px;
  height: 100%;
  background-color: palegoldenrod;
  position: relative;
}

.popup_container--hotel-image {
  position: relative;
  width: 100vw;
  height: 20rem;
  object-fit: cover;
}
.ce_container--item {
  list-style-type: none;
}

.drop-shadow {
  z-index: 3;
  height: 20rem;
  width: 50rem;
  position: absolute;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.5) 60%,
    rgba(0, 0, 0, 1) 100%
  );
}
.popup_container--price {
  display: inline-block;
  position: absolute;
  color: #fff;
  font-size: 2rem;
  z-index: 5;
  bottom: 0;
  left: 0;
  margin: 1rem;
}

.ce_container {
  position: relative;
}

.ce_container--item__title {
  position: absolute;
  color: #fff;
  font-size: 3rem;
  z-index: 5;
  bottom: 3rem;
  margin: 1rem;
}

.cover-link {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 10;
}
